/*아로스 이미지형 사이드바*/
/* PC 유튜브 버튼 스타일 */
.arosPc1 {
  position: fixed;
  top: 208px; /* 윗쪽 끝에서부터의 거리 */right: 0;
  z-index: 99;
}

/* 모바일 유튜브 버튼 스타일 */
.arosMob1 {
  position: fixed;
  top: 350px; /* 아래 끝에서부터의 거리 */right: 0; /* 오른쪽 끝에서부터의 거리 */z-index: 99;
}

@media (max-width: 767px){
.hidden-xs {
    display: none!important;
}}
@media (min-width: 768px) and (max-width: 991px){
.hidden-sm {
    display: none!important;
}}
@media (min-width: 992px) and (max-width: 1199px){
.hidden-md {
    display: none!important;
}}
@media (min-width: 1200px){
.hidden-lg {
    display: none!important;
}}